/** Main sections */

body { 
	background: #e8ebec; 
	font-family: Arial, Helvetica, sans-serif;
	color : #ccc; 
	margin:0;
	padding:0;
}
img {
	border:0;
}
#wrapper{
	width:960px;
	margin: 0px auto;
	padding:0;
}
#logo {
	background: url(images/logo-hackathon.png) no-repeat 0;
    width: 1000px;
    height: 90px;
    display: block;
    margin: 25px auto 0;
}
#main {
	background: url(images/main-large.png) no-repeat center;
	width: 1000px;
	height: 466px;
	overflow:hidden;
	margin: 0px auto;
    position: relative;
}




/** Countdown */
.welcome-title{
    color: #48535a;
    margin: 0;
    text-align: center;
    margin-top: 40px;
	font-size:30px;
}

.countdown {margin:20px 192px 0;}

.countdown .weeks_dash,
.countdown .days_dash{
	
/*.time-left-panel .weeks_dash*/
    display: none;
}
.countdown .dash {
	width: 280px;
	height: 282px;
	background: transparent url(images/box-large.png) 0 0 no-repeat;
	float: center;
	margin-left: 20px;
	position: relative;
}

.countdown .dash .digit {
	font-size: 110px;
	font-weight: bold;
	float: center;
	width: 65px;
	text-align: center;
	font-family: Arial;
	color: #48535a;
	position: relative;
	margin: 10px 0 0 17px;
}

.countdown .dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	text-align:center;
	font-weight:bold;
	width:182px;
	font-size: 30px;
	color: #48535a;
	
}
.large-countdown .welcome-title{margin-top: 50px;}
.large-countdown .countdown {margin: 30px 105px 0;}
.large-countdown .countdown .dash{
    width: 240px;
	height: 242px;
	background: transparent url(images/box-extra-large.png) 0 0 no-repeat;
}
.large-countdown .countdown .dash .digit{font-size: 150px;width: 94px;}
.large-countdown .countdown .dash_title{width:240px;}
.large-countdown.red .countdown .dash .digit{color:#f00;}
/** time-left */

.time-left-panel {
	/*width:770px;
	margin:2px 0 0 640px;*/

	width: 782px;
  margin: 2px 0 0 563px;
}
.time-left-header{
     /*margin: 20px 0 0 653px;*/
		margin: 20px 0 0 575px;
    white-space: nowrap;
    color: #48535a;
    font-size: 16px;
}
.time-left-panel .dash {
	width: 70px;
	height: 72px;
	background: transparent url(images/box-small.jpg) 0 0 no-repeat;
	float: left;
	margin-left: 8px;
	position: relative;
    padding-left: 10px;
    padding-right: 8px;
    -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;         
}

.time-left-panel .dash .digit {
	font-size: 36px;
	font-weight: bold;
	float: center;
	width: 25px;
	text-align: center;
	font-family: Arial;
	color: #FF0000;
	position: relative;
	margin: 0;
    padding: 10px 0;
    -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;     
}

.time-left-panel .dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	text-align:center;
	font-weight:bold;
	width:70px;
	font-size: 12px;
	color: #48535a;
	margin-left: -10px;
}

.copyright {
    margin: 20px 0 0 60px;
    font-size: 12px;
    position: absolute;
    bottom:42px;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {clear: both;*zoom: 1; }
